@import url('https://fonts.google.com/specimen/Poppin');

/* * {
    margin: 0;
    padding: 0;
} */

body{
    text-align: center;
    background-color: #df6a74;
}

button{
    cursor: pointer;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 7px;
    color: white;
}

div{
    text-align: center;
    font-family: Poppin;
    font-weight: 400;
}

.green{
    background-color: hsl(154, 59%, 51%);
    border-color: hsl(154, 59%, 51%);
}

.blue{
    background-color: hsl(246, 30%, 56%);
    border-color: hsl(246, 31%, 44%)
}

span{
    color: hsl(0, 100%, 74%);
}

form{
    background-color: white;
    border-radius: 7px;
    padding: 10%;
}

.item1 { grid-area: left;
    padding: 10%;
    color: antiquewhite;
    text-align: left;
}
.item2 { grid-area: right; 
    padding: 5%;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'left right';
    gap: 10px;
    background-color: #df6a74;
    padding: 10px;
}

.learn{
    font-size: xx-large;
}

small{font-size: 9px;}